
h2 {
	/* top, right, bottom, left */
	margin: 10px 0px 15px 0px; 
}

h3 {
	margin: 10px 0px 15px 0px; 
}


/* Style all <pre> tags */
pre {
    color: lime;              /* Text color */
    background-color: black;   /* Background color */
    font-family: monospace;    /* Keep monospace font */
    padding: 10px;             /* Add some spacing */
    border-radius: 5px;        /* Rounded corners */
}